body{
        margin: 0px;
        padding: 0px;
}

.header-container{
    background-image: url("/images/header_bg.png"),url("/images/developer.png");
    background-repeat: no-repeat;
    background-position:bottom right, left;
    
    
}
.nav-container{
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: rgb(101, 144, 72)45, 245;
    padding-left: 200px;
    padding-right: 200px;
    font-family:sans-serif;
    
    
}
.nav-ul{
    display: flex;
    align-items: center;
}
.nav-ul .nav-li{
    padding: 20px;
    list-style: none;
}

.nav-a{
    text-decoration: none;
    color: #414141;
}
.nav-span{
    color: rgba(255, 68, 0, 0.737);
}
.nav-title{
    color: rgb(24, 24, 24);
    font-size: 40px;
}
.nav-button{
    padding: 10px 20px;
    background-color: #f56600;
    color: white;
    border: none;
    border-radius: 2px;
}
.nav-button:hover{
    background-color: #dd5c0093;

}
.header-img{
    width: 500px;
}
.header-banner{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0px 100px;

}
.header-banner-buttone2{
    margin-left: 20px;
    margin-top: 10px;
}
.header-text{
    padding: 0px;
    margin: 0px;
}
.header-h3{
    font-size: 45px;
}
.header-title{
    font-size: 85px;
}
.header-paragraph{
    color:  #757575;
    font-size: 18px;
}